.welcome-card{
  max-height: 35vh;
  overflow: hidden;
}

.card-header {
 border-bottom: solid;
 border-color:white ;
 background-color:#00bfff;
}

.content-header {
  color: white;
  font-size: 12pt;
  height: 5px;
}

.content-center {
  background-color:#00b2ee;
  height: 90px;

}

.dashboard {
  margin-left: 10px;
}

.ionicon {
  font-size: 64px;
  color: 	#8deeee;
  padding-bottom: 10px;
  padding-top: 15px;
  float : left;
}

.iontext {
  font-size: 64px;
  color: 	#8deeee;
  margin-left: 20px;
}

.content-bottom {
  background-color: #009acd;
}