.namaProduk {
    font-size: 12px;
}
.checkbox {
    width: 15px;
}
.badanProduk{
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.cardContent{
    margin-top : 20px;
}
.font {
    font-size: 16px;
}
.font2 {
    font-size: 15px;
}
.font3 {
    font-size: 14px;
}