.btn {
    margin-top: 1rem;
}

.logCard {
padding: 1rem 0;
transform: translate(0, 50%);
}

.titleLog{
    /* margin-left: 50%; */
    transform: translate(30%,0);
}
.visible {
    transform: translate(0, 60%);
}
.iconVisible {
    font-size: 25px;
    float: right;
}